# Ignore virtual environment directory
metricTensorOptimisationEnv/

# Ignore test folder
test/

# Ignore all Python cache files
__pycache__/
*.py[cod]

# Ignore data files
data/*
!data/.gitkeep

# Ignore additional visualisations folder
visualisations/

# Ignore VSCode settings
.vscode/

# Ignore log files
*pysnirf2.log

# Ignore .venv folder
.venv/

# Ignore output files
output/